Q11: Are They Equal?
Write a function called equal_strings. The function takes two strings as arguments
and compares them. If the strings are equal (if they have the same characters and
have equal length), it should return True, if they are not, it should return False.
For example, ‘love’ and ‘evol’ should return True.

In [ ]:
def equal_strings(str1,str2):
  if (len(str1)=len(str2) and sorted(str1)=sorted(str2)):
    return True
  else:
    return False

str1=input("Enter the 1st string :")
str2=input("Enter the 2nd string :")
equal_strings(str1,str2)

Enter the 1st string :love
Enter the 2nd string :leov

True

Q12: Write a function called count_dots. This function takes a string separated by dots as
 a parameter and counts how many dots are in the string. For example, ‘h.e.l.p.’
 should return 4 dots, and ‘he.lp.’ should return 2 dots.
Extra Challenge: Your Age in Minutes
b. Write a function called age_in_minutes that tells a user how old they are in
minutes. Your code should ask the user to enter their year of birth, and it should
return their age in minutes (by subtracting their year of birth to the current year).
 Here are things to look out for:
a. The user can only input a 4 digit year of birth. For example, 1930 is a valid year
. However, entering any number longer or less than 4 digits long should render input
invalid. Notify the user to input a four digits number.
b. If a user enters a year before 1900, your code should tell the user that input is
invalid. If the user enters the year after the current year, the code should tell the
 user, to input a valid year.
The code should run until the user inputs a valid year. Your function should return
the user's age in minutes. For example, if someone enters 1930, as their year of birth
your function should return:
You are 48,355,200 minutes old.

In [ ]:
def count_dots(str1):
  count=0
  for i in str1:
    if i ==".":
      count+=1
  return count

str1=input("Enter the string :")
count_dots(str1)

Enter the string :Elo.n.Mu.sk.

4

In [ ]:
from datetime import date
def age_in_minutes(birthyear):
  current_year=date.today().year
  if len(str(birthyear))==4  and birthyear>=1900 and current_year!=birthyear:
    minutes=(current_year-birthyear)*365*24*60
    print("your alive from",minutes,"minutes")
  else:
    print("Enter the valid year")

birthyear=int(input("Enter Your Year of Birth :"))
age_in_minutes(birthyear)

Enter Your Year of Birth :1995
your alive from 15242400 minutes

Q13: Pay Your Tax
Write a function called your_vat. The function takes no parameter. The function asks
the user to input the price of an item and VAT (vat should be a percentage). The
function should return the price of the item plus VAT. If the price is 220 and, VAT
is 15% your code should return a vat inclusive price of 253. Make sure that your
code can handle ValueError. Ensure the code runs until valid numbers are entered.
(hint: Your code should include a while loop).

In [ ]:
def your_vat():
  product_value=float(input("Enther the product price :"))
  product_vat=float(input("Enther the product vat % :"))
  while True:
    try:
      if product_value>0 and product_vat>0:
        product_price=product_value+(product_value*product_vat)/100
        print("Price of Product After TAx :",product_price)
        break
      else:
        raise ValueError
    except ValueError:
      return "Please enter the valid inputs"

your_vat()

Enther the product price :100
Enther the product vat % :15
Price of Product After TAx : 115.0

Q14: Flatten the List
Write a function called flat_list that takes one argument, a nested list. The function converts the nested list into a one-dimension list. For example [[2,4,5,6]] should return [2,4,5,6].

Extra Challenge: Teacher’s Salary
b. A school has asked you to write a program that will calculate teachers' salaries.The program should ask the user to enter the teacher’s name, the number of periods taught in a month, and the rate per period. The monthly salary is calculated by multiplying the number of periods by the monthly rate. The current monthly rate per period is $20.

If a teacher has more than 100 periods in a month, everything above 100 is overtime. Overtime is $25 per period. For example, if a teacher has taught 105
periods, their monthly gross salary should be 2,125. Write a function called
your_salary that calculates a teacher’s gross salary. The function should return theteacher’s name, periods taught, and gross salary. Here is how you should format your.

output:

Teacher: John Kelly,

Periods: 105

Gross salary:2,125

In [ ]:
def flat_list(lst):
  single_list=lst[0]
  return single_list
flat_list([[1,2,4,5,6]])

[1, 2, 4, 5, 6]

In [ ]:
def your_salary():
  name=input("Enter the Teachers name :")
  noPeriod=int(input("Enter the No of Periods tought/Month :"))
  ratePeriod=int(input("Enther the rate/Periods :"))

  if noPeriod<100:
    MonthSalary=noPeriod*ratePeriod
  else:
    MonthSalary=2000+(noPeriod-100)*25
  return MonthSalary

your_salary()

Enter the Teachers name :105
Enter the No of Periods tought/Month :105
Enther the rate/Periods :20

2125

Q15: Same in Reverse
Write a function called same_in_reverse that takes a string and checks if the string
reads the same in reverse. If it is the same, the code should return True if not, it
should return False. For example, ‘dad’ should return True, because it reads the same
in reverse.

In [5]:
def same_in_reverse():
  stt=input("Enter the String :")
  rev=stt[::-1]
  if stt==rev:
    return True
  else:
    return False
same_in_reverse()

Enter the String :papap

True