Q6: User Name Generator
Write a function called user_name that generates a username from the user’s email.
The code should ask the user to input an email and the code should return everything
before the @ sign as their user name. For example, if someone enters ben@gmail.com,
the code should return ben as their user name

In [ ]:
def user_name():
  email=input("Enter the email address :")
  name=email[:email.index("@")]
  print(name)
user_name()

Enter the email address :omkarghadi@gmail.com
omkarghadi

Q7: A String Range
Write a function called string_range that takes a single number and returns a string
of its range. The string characters should be separated by dots(.) For example,
if you pass 6 as an argument, your function should return ‘0.1.2.3.4.5’.
"""

In [ ]:
def string_range():
  strr=int(input("Enter a Number of your choice :"))
  newlist=[]
  for i in range(strr):
    newlist.append(str(i))
  return ".".join(newlist)

string_range()

Enter a Number of your choice :9

'0.1.2.3.4.5.6.7.8'

Q8: Odd and Even
Write a function called odd_even that has one parameter and takes a list of numbers
as an argument. The function returns the difference between the largest even number
in the list and the smallest odd number in the list. For example, if you pass
[1,2,4,6] as an argument the function should return 6 -1= 5.

In [ ]:
def odd_even(one):
  odd_num=[i for i in one if i%2 == 0]
  even_num=[i for i in one if i%2 !=0]
  return max(odd_num)- min(even_num)

print(odd_even([2,3,4,5,6,7,8]))

5

Q9: Biggest Odd Number
Create a function called biggest_odd that takes a string of numbers and returns the
biggest odd number in the list. For example, if you pass ‘23569’ as an argument,
your function should return 9. Use list comprehension.

In [7]:
def biggest_odd(strr):
  odd_number=[int(i) for i in strr if int(i)%2 == 1]
  return max(odd_number)
print(biggest_odd("2359840976"))

9

Q10: Write a function called hide_password that takes no parameters. The function takes an
 input( a password) from a user and returns a hidden password. For example, if the
 user enters ‘hello’ as a password the function should return ‘****’ as a password
 and tell the user that the password is 4 characters long.
Extra Challenge: Strings With a Thousand Separator
b. Your new company has a list of figures saved in a list. The issue is that these
numbers have no separator. The numbers are saved in the following format:
[1000000, 2356989, 2354672, 9878098]
You have been asked to write a code that will convert each of the numbers in the list
 into a string. Your code should then add a comma on each number as a thousand
 separator for readability. When you run your code on the above list, your output
 should be :
['1,000,000', '2,356,989', '2,354,672', '9,878,098']
Write a function called convert_numbers that will take one argument, a list of numbers
above.
"""

In [43]:
def hide_password():
  input_pass=input("Please Enter the Password :")
  return "Password is:"+ "*" * len(input_pass)+ ", and Password length is:" + str(len(input_pass))
#hide_password()

def convert_numbers():
  input_num=list(map(int,input("Please enter the nubers").split()))
  return ['{:,.0f}'.format(i) for i in input_num]

convert_numbers()

Please enter the nubers262655 323232 63233

['262,655', '323,232', '63,233']

Please Enter the Password :omkar

'Password is:*****, and Password length is:5'